simple-flow.json
[
    {
        "id": "mqtt-broker-simple",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "iot_mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "workarea",
        "type": "tab",
        "label": "IoT Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "temp-in",
        "type": "mqtt in",
        "z": "workarea",
        "name": "Temperature",
        "topic": "sensors/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt-broker-simple",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [["temp-debug"]]
    },
    {
        "id": "temp-debug",
        "type": "debug",
        "z": "workarea",
        "name": "Temperature Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "humidity-in",
        "type": "mqtt in",
        "z": "workarea",
        "name": "Humidity",
        "topic": "sensors/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt-broker-simple",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [["humidity-debug"]]
    },
    {
        "id": "humidity-debug",
        "type": "debug",
        "z": "workarea",
        "name": "Humidity Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 160,
        "wires": []
    }
]
